{% extends 'base.html' %}

{% block content %}

<h1 class="text-4xl font-semibold my-8 dark:text-neutral-100 ml-10">
    Gym Management Portal
</h1>
<h1 class="text-2xl ml-10 font-bold m-6 underline text-gray-200">Delete Member</h1>
<form class="font-[sans-serif] max-w-4xl mx-auto" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    <h3 class="text-white">Are you sure ? Delete: <strong class="capitalize text-red-500">{{member.name}}</strong> record from portal.</h3>

    <button type="submit"
        class="mt-10 px-6 py-2.5 w-full text-sm bg-red-500 text-white hover:bg-red-400 rounded-sm">Delete</button>
</form>


{% endblock %}