<div class=' fixed sm:sticky bottom-0 top-0 h-screen bg-red-500 left-0 z-40'>
  <aside
    class="aside overflow-y-auto pt-12 sm:w-[12em] w-[9em] h-full flex flex-col justify-between items-between z-40 bg-[#1E293B] text-neutral-200 -ml-0">
    <ul>
      <a href="{% url 'home' %}">
        <li
          class='flex items-center overflow-hidden h-[5.6em] sm:h-[6.3em] mx-4 sm:mx-8 mt-4 mb-10 p-3 sm:p-4 rounded-md after:top-full flex-col after:-z-10 cursor-pointer relative after:transition-all hover:after:top-0 after:h-full after:w-full after:content-[""] after:bg-[#5D5DEE] after:absolute transiiton-all z-20 bg-[#2C3A52]'>
          <i class="fa-solid fa-users text-3xl sm:text-3xl mb-1"></i>
          Members
        </li>
      </a>

      <a href="{% url 'reports' %}">
        <li
          class='flex items-center overflow-hidden h-[5.6em] sm:h-[6.3em] mx-4 sm:mx-8 mt-4 mb-10 p-3 sm:p-4 rounded-md after:top-full flex-col after:-z-10 cursor-pointer relative after:transition-all hover:after:top-0 after:h-full after:w-full after:content-[""] after:bg-[#5D5DEE] after:absolute transiiton-all z-20 bg-[#2C3A52]'>
          <!-- <i class="text-3xl sm:text-3xl mb-1 fa-regular fa-file-lines"></i> -->
          <i class="fa-regular fa-newspaper text-3xl mb-1"></i>
          Reports
        </li>
      </a>
      <li
        class='flex items-center overflow-hidden h-[5.6em] sm:h-[6.3em] mx-4 sm:mx-8 mt-4 mb-10 p-3 sm:p-4 rounded-md after:top-full flex-col after:-z-10 cursor-pointer relative after:transition-all hover:after:top-0 after:h-full after:w-full after:content-[""] after:bg-[#5D5DEE] after:absolute transiiton-all z-20 bg-[#2C3A52]'>
        <i class="fa-regular fa-user text-3xl sm:text-3xl mb-1"></i>
        My Profile
      </li>
    </ul>
    <div class='fixed bottom-0 border-green-400 py-2 sm:w-[12em] w-[9em] bg-[#1E293B] z-20'>
    </div>
  </aside>
</div>